* {
  font-family: Helvetica;
  text-align: center;
}

#title {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

#nav {
  color; white;
  font-size: 18px;

}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
